{% import '@SyliusAdmin/shared/helper/translations.html.twig' as translations %}
{% set form = hookable_metadata.context.form %}

<div class="card mb-3">
    <div class="card-header">
        <div class="card-title">
            {{ 'sylius.ui.general'|trans }}
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-md-6">
                {{ form_row(form.name) }}
            </div>
            <div class="col-12 col-md-6">
                {{ form_row(form.code) }}
            </div>
            <div class="col-12">
                {{ form_row(form.type) }}
            </div>
            <div class="col-12">
                {{ form_row(form.enabled) }}
            </div>
            <div class="col-12">
                {{ form_row(form.channels) }}
            </div>
        </div>
    </div>
</div>

<div class="card mb-3">
    <div class="card-header">
        <h2 class="card-title">
            {{ 'sylius.ui.translations'|trans }}
        </h2>
    </div>
    <div>
        {{ translations.default(form.translations) }}
    </div>
</div>
