{{ form_start(form) }}
<input type="hidden" name="_method" value="PUT">
{{ form_row(form.name) }}
    {{ form_row(form.code) }}
    {{ form_row(form._token) }}
<button type="submit" class="btn btn-primary">{{ 'sylius.ui.create'|trans }}</button>
{{ form_end(form) }}
